[Unit]
Description=Love Letter web server
After=network.target

[Service]
DynamicUser=yes
WorkingDirectory=/srv/loveletter
ExecStart=/srv/loveletter/out
Restart=on-failure
RestartSec=3
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
